<!DOCTYPE html>
<html>
  <head>
    {% include head %}
    <link rel="stylesheet" href="https://cdn.plyr.io/3.6.7/plyr.css" />
  </head>
  <body style="color: #bdc1c6; background: #202124;">
    <header>
      {% include g-link %}
    </header>
    <div class="w3-content w3-padding-large w3-margin-top gt-min-left-margin">
      <h1>{{ TITLE }}</h1>
      <div class="w3-container">
        {{ AUTHOR | clean }}
        {% if BOOKTITLE %}
        <i>{{ BOOKTITLE }}</i>
        {% endif %}
        {{ VOLUME }}
        {% if PAGES %}
        p.{{ PAGES }}
        {% endif %}
        <!-- {% if YEAR %} -->
        <!-- ({{ YEAR }}) -->
        <!-- {% endif %} -->
        {% if NOTES %}
        (<b><i>{{ NOTES }}</i></b>)
        {% endif %}
        {% if URL %}
          <a href="{{ URL }}">link</a>
        {% endif %}
        {% if BIBURL %}
          <a href="{{ BIBURL }}">bibtex</a>
        {% endif %}
      </div>
    {% include support %}
    {% include bottom %}
</body>
{% include bottom-js %}
</html>
