<title>{{ title }}</title>
<meta charset="UTF-8">
<meta name="description" content="{{ brief }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ "/gt.css" |url }}">
<link rel="stylesheet" href="{{ "/w3.css" |url }}">
<link rel="icon" href="{{ "/favicon.ico" |url }}">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-80VX9JYW6P"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-80VX9JYW6P');
</script>
