<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="description" content="{{ brief }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.14.0/css/all.css">
    <link rel="stylesheet" href="{{ "/gt.css" |url }}">
    <link rel="icon" href="{{ "/favicon.ico" |url }}">
  </head>
  <body style="color: #bdc1c6; background: #202124;">
    <header>
      {% include g-link %}
    </header>
    <div class="w3-content w3-padding-large w3-margin-top gt-min-left-margin">
      <h1>{{ title }}</h1>
      <div class="w3-container">
        {{ content | safe }}
      </div>
    {% include bottom %}
    </div>
</body>
{% include bottom-js %}
</html>
